{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/flowtype"],
  "plugins": ["prettier", "flowtype", "react-hooks"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "no-unused-vars": "off",
    "import/prefer-default-export": "off"
  }
}
